# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
.env
.venv

# Flask instance and logs
instance/
*.log

# Cache files
.cache/

# Database files
*.sqlite3
*.db

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Pip dependency file
deps.json

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Flask settings file
config.py